/**
 * header
 */
header {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    display: flex;
    width: 100%;
    background-color: var(--header-background-color);
}

header .row {
    padding: 10px;
}

header #logo {
    flex-grow: 0;
}

header #logo img {
    height: 50px;
}

#header-inner-wrapper {
    display: flex;
}

#menu-wrapper {
    overflow: auto;
    width: 100%;
    z-index: 999999;
}

#menu-wrapper > div {
    height: 100%;
}

/**
 * footer
 */
footer {
    padding: 10px;
    background-color: var(--footer-color);
}