.row > div {
    display: flex;
}

.column {
    flex-grow: 1;
}

#element.LG .row > div .column:nth-child(n+2) {
    margin-left: 20px;
}

#element:not(.LG) .row > div {
    flex-direction: column;
}

#element:not(.LG) .column {
    width: 100%
}