.row {
    display: flex;
}

.row.mirror {
    flex-direction: row-reverse;
}

.column {
    flex-grow: 1;
}

.content-zone {
    width: 100%;
}

#image-present {
    flex-shrink: 0;
    padding: 25px;
    position: relative;
    width: 33%
}

#image-present img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#element:not(.LG) .row {
    flex-direction: column;
}

#element:not(.LG).row.mirror {
    flex-direction: column-reverse;
}

#element:not(.LG) #image-present {
    max-height: 300px;
}