#button {
    background-color: var(--color-primary);
    padding: 15px;
    border-radius: 5px;
    color: var(--color-light);
    display: inline-block;
}

#button:hover {
    opacity: 0.85;
}

#button:active {
    opacity: 0.55;
}